/* CUSTOM PROPERTIES
------------------------------------------ */
:root {
  --Very-dark: #303b52;
  --Light: #5d3efb;
  --Plain: #ecf2ff;
  --White: #ffffff;
  --Pink: #f98486;
  --Yellow: #faca59;
  --Green: #5dd0b0;
  --Blue: #5353d9;
  --Gray: #8d8d8d;
  --color-dark: var(--Very-dark);
  --color-light: var(--Light);
  --color-plain: var(--Plain);
  --color-pink: var(--Pink);
  --color-yellow: var(--Yellow);
  --color-green: var(--Green);
  --color-blue: var(--Blue);
  --color-gray: var(--Gray);
  --font-family: "Times New Roman", Times, serif;
}

/* Global Styles
--------------------------------------- */
body {
  background-color: var(--color-plain);
  margin: 0 auto;
  padding: 30px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

.result-summary {
  display: flex;
  width: 70%;
  max-width: 500px;
  justify-content: center;
  margin: 0 auto;
  padding-top: 80px;
}

.output {
  display: flex;
  gap: 10px;
}

.high-score {
  padding-top: 20px;
  margin-bottom: 0;
}

.overall-score {
  margin-top: 0;
}
h1 {
  font-size: 60px;
}

h3 {
  text-align: left;
}

.results {
  color: #ffffff;
  background-color: var(--color-light);
  padding: 15px 50px;
  border-radius: 25px;
  width: 50%;
}

.score {
  background-color: #4729d6;
  width: 90%;
  height: 30%;
  border-radius: 50%;
}

.first,
.second,
.third,
.fourth {
  margin-bottom: 20px;
}

.first {
  color: var(--color-pink);
  background-color: #efe0e0;
  border-radius: 20px;
}

.second {
  color: var(--color-yellow);
  background-color: #f7f7bf;
  border-radius: 20px;
}

.third {
  color: var(--color-green);
  background-color: #edf6eb;
  border-radius: 20px;
}

.fourth {
  color: var(--color-blue);
  background-color: #f7f7f3;
  border-radius: 20px;
}

.summary {
  background-color: #ffffff;
  width: 70%;
  margin: 0;
  padding: 25px;
  padding-left: 50px;
  padding-top: 15px;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
}

.symbol {
  padding-left: 10px;
}

.values {
  color: #000000;
  margin-left: 25px;
}

span {
  color: var(--color-gray);
}
button {
  color: #ffffff;
  background-color: var(--color-dark);
  border-radius: 25px;
  width: 180px;
  padding: 10px 0;
}

section:first-child {
  transform: translateX(20px);
  z-index: 2;
}
